<!DOCTYPE html>
<html>
  <head>
    <title>Nasflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>
    <script type="text/javascript">
      window.phoneURL = "<%= image_url('phone.jpg') %>";
    </script>
    <script type="text/javascript">
      window.tabletURL = "<%= image_url('tablet.png') %>";
    </script>
    <script type="text/javascript">
      window.tvURL = "<%= image_url('tv.png') %>";
      
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
